.Skype
.Upwork
.Xauthority
.android
.awesome-errors
.bash_history
.cache
.cgdb
.config/GIMP
.config/Skype
.config/Trolltech.conf
.config/calibre
.config/dconf
.config/eog
.config/freshwrapper-data
.config/gconf
.config/gtk-2.0
.config/gtk-3.0/bookmarks
.config/htop
.config/libreoffice
.config/mc
.config/mimeapps.list
.config/nitrogen
.config/pavucontrol.ini
.config/pulse
.config/pychess
.config/rc_files/mediawiki_credentials.sh
.config/smplayer
.config/wireshark
.dbus
.dmrc
.gksu.lock
.gnupg
.goldendict
.kde4
.lesshst
.local
.maildir
.mozilla
.mplayer
.nv
.nvidia-settings-rc
.pki
.tgdb
.thumbnails
.thunderbird
.vim
.viminfo
.xscreensaver
.xsession-errors
.xsession-errors.old
Calibre Library
Downloads
dump
lingvo
mnt
wallpapers
