.TelegramDesktop
.Xauthority
.adobe
.android
.awesome-errors
.bash_history
.bzr.log
.cache
.cargo
.cf
.cgdb
.config/GIMP
.config/Paralect
.config/Trolltech.conf
.config/VirtualBox
.config/autostart
.config/calibre
.config/cef_user_data/Dictionaries
.config/configstore/update-notifier-npm.json
.config/dconf
.config/deluge
.config/enchant
.config/eog
.config/freshwrapper-data
.config/gconf
.config/google-chrome
.config/gtk-2.0
.config/gtk-3.0/bookmarks
.config/htop
.config/libreoffice
.config/mc
.config/menus/applications-merged/xdg-desktop-menu-dummy.menu
.config/mimeapps.list
.config/nitrogen
.config/pavucontrol.ini
.config/pulse
.config/pychess
.config/rc_files/mediawiki_credentials.sh
.config/robomongo
.config/skypeforlinux
.config/smplayer
.config/wireshark
.dbus
.dmrc
.gksu.lock
.gnome/apps/*.desktop
.gnupg
.goldendict
.kde4
.lesshst
.links
.local
.macromedia
.maildir
.mozilla
.mplayer
.npm
.nv
.pki
.pylint.d
.python_history
.ssh/id_rsa
.ssh/id_rsa.pub
.tgdb
.thumbnails
.thunderbird
.vagrant.d
.vim
.viminfo
.wget-hsts
.xneur
.xscreensaver
.xsession-errors
.xsession-errors.old
Calibre Library
Downloads
dump
lingvo
mnt
wallpapers
