.VirtualBox
.Xauthority
.adobe
.android
.awesome-errors
.bash_history
.bzr.log
.cache
.cargo
.cgdb
.config/GIMP
.config/Nextcloud
.config/QtProject.conf
.config/Trolltech.conf
.config/VirtualBox
.config/awesome/default_keyring_password
.config/composer
.config/configstore
.config/d-feet
.config/dconf
.config/deluge
.config/enchant
.config/eog
.config/gconf
.config/google-chrome
.config/gtk-2.0
.config/gtk-3.0
.config/htop
.config/kactivitymanagerdrc
.config/kdeglobals
.config/libreoffice
.config/mc
.config/menus
.config/mimeapps.list
.config/nitrogen
.config/okular-generator-ghostscriptrc
.config/okular.kmessagebox
.config/okularpartrc
.config/okularrc
.config/pavucontrol.ini
.config/pulse
.config/pychess
.config/rc_files/credentials.sh
.config/smplayer
.config/sqlitebrowser
.config/wireshark
.dbus
.dmrc
.electrum
.gksu.lock
.gnome
.gnupg
.goldendict
.lesshst
.links
.local
.macromedia
.maildir
.mono
.mozilla
.mplayer
.npm
.nv
.nvidia-settings-rc
.pki
.pylint.d
.python_history
.ssh
.tgdb
.thunderbird
.tig_history
.vagrant.d
.vim
.viminfo
.xscreensaver
.xsession-errors
.xsession-errors.old
Downloads
Nextcloud
dump
go
mnt
wallpapers
