[commit]
	gpgsign = 1
[credential]
	helper = /usr/bin/git-credential-libsecret
[tag]
	gpgsign = 1
[user]
	email = mike.zueff@gmail.com
	name = Mike Zueff
	signingkey = 8D224D1B65041BF7
[http]
	version = HTTP/1.1
