xrdb -merge /etc/X11/Xresources

xrdb -merge ${HOME}/.Xresources

nitrogen --restore

numlockx

picom --config /dev/null --backend xrender --focus-exclude "class_g != 'URxvt'" --vsync --xinerama-shadow-crop -D 1 -bf -i 0.9
rm --force /tmp/run_time/awesome-related/dex_have_been_executed
urxvtd --fork --opendisplay --quiet
xmodmap -e 'add mod3 = Scroll_Lock'
xscreensaver -no-splash &

redshift -x
redshift -P -l 51.7:39.2 &
