xrdb -merge /etc/X11/Xresources

xrdb -merge /home/mansur/.Xresources

nitrogen --restore

numlockx

picom --config /dev/null --backend glx --crop-shadow-to-monitor --focus-exclude "class_g != 'URxvt'" --vsync --xrender-sync-fence -D 1 -bf -i 0.9
rm --force /tmp/run_time/awesome-related/dex_have_been_executed
urxvtd --fork --opendisplay --quiet
xmodmap -e 'add mod3 = Scroll_Lock'
xscreensaver -no-splash &

redshift -x
redshift -P -l 51.7:39.2 &

export NO_AT_BRIDGE=1
