xrdb -merge /etc/X11/Xresources

xrdb -merge ${HOME}/.Xresources

nitrogen --restore

numlockx

compton --config /dev/null --backend glx --focus-exclude "class_g != 'URxvt'" --paint-on-overlay --vsync opengl-swc --xinerama-shadow-crop -Cbcfz -D 1 -i 0.9
rm --force /tmp/run_time/awesome-related/dex_have_been_executed
urxvtd --fork --opendisplay --quiet
xmodmap -e 'add mod3 = Scroll_Lock'
xscreensaver -no-splash &

nextcloud --background &
