URxvt*background: black
URxvt*boldFont: xft:Hack-12:bold
URxvt*boldItalicFont: xft:Hack-12:bold:italic
URxvt*borderColor: #555555
URxvt*color12: #aa55aa
URxvt*color4: #aa00ff
URxvt*externalBorder: 0
URxvt*font: xft:Hack-12
URxvt*foreground: white
URxvt*iconFile: /usr/share/icons/Yaru/scalable/apps/terminal-app-symbolic.svg
URxvt*internalBorder: 1
URxvt*italicFont: xft:Hack-12:italic
URxvt*letterSpace: -1
URxvt*perl-ext-common: default,confirm-paste,searchable-scrollback<A-s>,selection-to-clipboard
URxvt*saveLines: 999999
URxvt*scrollBar: false
URxvt*url-launcher: /usr/bin/xdg-open
Xcursor.size: 24
Xcursor.theme: Yaru
Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
xscreensaver*Dialog.background: #8600b3
xscreensaver*Dialog.borderWidth: 0
xscreensaver*captureStderr: false
xscreensaver*dateFormat:
xscreensaver*passwd.body.label:
xscreensaver*passwd.heading.label: xscreensaver
xscreensaver*passwd.thermometer.foreground: #ff0000
xscreensaver*passwd.thermometer.width: 16
xscreensaver*passwd.uname: false
xscreensaver*passwd.unlock.label: >>>
xscreensaver*passwd.user.label: Locked by:
