[Desktop Entry]
Name=nekoray
Exec=/zfs/ext4/home/mansur/bin/nekoray/nekoray -tray
Terminal=false
Categories=Network
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
